@import "tailwindcss";

@keyframes floatBlob {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30px, -20px);
  }

  50% {
    transform: translate(-20px, 20px);
  }

  75% {
    transform: translate(20px, 30px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.blob {
  animation: floatBlob 12s ease-in-out infinite;
}

.blob-slow {
  animation: floatBlob 18s ease-in-out infinite;
}

.blob-fast {
  animation: floatBlob 8s ease-in-out infinite;
}

body {
  font-family: "Inter", sans-serif;
}